<% include ../partials/header %>

<div class="all-forms">
  <div class="row">
    <h1>Register For Yelp Camp</h1>

    <div class="form-wrapper">
      <form action="/register" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Submit</button>
            <a class="btn btn-danger btn-block" href="/campgrounds">Cancel</a>
        </div>

      </form>

    </div>

  </div>

</div>

<% include ../partials/footer %>
