<% include partials/landingHeader %>

<div id="landing-header">
  <h1>Welcome to Yelp Camp!</h1>

  <a class="btn btn-lg btn-success" href="/campgrounds">View Camp Listing</a>
</div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>



<% include partials/footer %>
