<% include ../partials/header %>

<div class="all-forms">
  <div class="row">
    <h1>Add a New Camp Site</h1>

    <div class="form-wrapper">
      <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" required>
        </div>

        <div class="form-group">
            <input type="number" class="form-control" name="price" placeholder="price" min=".01" step=".01" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="img" placeholder="Image Link" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="description" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Add Camp</button>
            <a class="btn btn-danger btn-block" href="/campgrounds">Cancel</a>
        </div>

      </form>

    </div>

  </div>

</div>

<% include ../partials/footer %>
